<template>
  <div id="app">
    <div class="container">
      <div class="columns">
        <div class="column is-2 fixed">
          <div class="nav">
            <ul>
              <li v-for="(entry, index) in pokemons" :key="index"><a @click="getPokemon(index + 1)">{{ entry.pokemon_species.name }}</a></li>
            </ul>
          </div>
        </div>
        <div class="column has-text-left">
          <div class="content">
            <div class="box border-top" :style="{ 'border-top-color': pokemon.data.color.name }">
              <div class="img">
                <img :src="image" alt="">
              </div>
              <div class="columns">
                <div class="column"> <h1 :style="{ 'border-bottom-color': pokemon.data.color.name }">{{ pokemon.data.name }}</h1></div>
                <div class="column">
                  {{ pokemon.data.base_happiness }}
                  <span class="stat_title">Base Happiness</span>
                </div>
                <div class="column">
                  {{ pokemon.data.capture_rate }}
                  <span class="stat_title">Capture Rate</span>
                </div>
              </div>
             <div class="columns">
               <div class="column">
                  <ul class="flavor">
                    <li v-for="(flavor, index) in flavor_text" :key="index">
                      {{ flavor.flavor_text }}
                    </li>
                  </ul>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'app',
  data() {
    return {
      pokemons: [],
      image: '',
      flavor_text: [],
      pokemon: {
        data: {
          name: "Select a Pokemon",
          color: {
            name: 'red'
          }
        }
      },
      loading: false
    }
  },
  methods: {
    getPokemon: function (id) {
      this.loading = true;
      axios.get("https://pokeapi.co/api/v2/pokemon-species/" + id)
        .then((response) => {
          this.loading = false;
          this.pokemon = response;
          this.returnImageURL(this.pokemon.data.name);
          this.filterFlavor(this.pokemon.data.flavor_text_entries);
        })
    },
    returnImageURL: function (pokemon) {
      this.image = `https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/${pokemon.toLowerCase()}.png`;
    },
    filterFlavor: function (array) {

      // Take the existing object and create a new array with just the flavor text entries.


      this.flavor_text = array.filter(function(item){
        return (item.language.name == "en");
      });
    }
  },
  computed: {
  },
  mounted () {
    axios.get("https://pokeapi.co/api/v2/pokedex/1")
        .then((response) => {
          this.loading = false;
          this.pokemons = response.data.pokemon_entries;
        })
        .catch((error) => {
          // Error 😨
          if (error.response) {
              /*
              * The request was made and the server responded with a
              * status code that falls out of the range of 2xx
              */
              console.log(error.response.data);
              console.log(error.response.status);
              console.log(error.response.headers);
          } else if (error.request) {
              /*
              * The request was made but no response was received, `error.request`
              * is an instance of XMLHttpRequest in the browser and an instance
              * of http.ClientRequest in Node.js
              */
              console.log(error.request);
          } else {
              // Something happened in setting up the request and triggered an Error
              console.log('Error', error.message);
          }
      });

      axios.get("https://pokeapi.co/api/v2/pokemon-species/1")
        .then((response) => {
          this.loading = false;
          this.pokemon = response;
          this.pokemon.data.color = this.pokemon.data.color.name;
        })
        .catch((error) => {
          // Error 😨
          if (error.response) {
              /*
              * The request was made and the server responded with a
              * status code that falls out of the range of 2xx
              */
              console.log(error.response.data);
              console.log(error.response.status);
              console.log(error.response.headers);
          } else if (error.request) {
              /*
              * The request was made but no response was received, `error.request`
              * is an instance of XMLHttpRequest in the browser and an instance
              * of http.ClientRequest in Node.js
              */
              console.log(error.request);
          } else {
              // Something happened in setting up the request and triggered an Error
              console.log('Error', error.message);
          }
      })
  },
  computed: {
    setColor: function() {

    }
  },
  components: {
    // HelloWorld
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  padding: 50px;
}

.fixed {
  position: sticky;
  top: 0;
}

.img {
    position: absolute;
    right: -50px;
    top: -60px;
}

.nav {
  height: 100vh;
  overflow: scroll;
}

.container {
  width: 800px;
  max-width: 1000px !important;
}

ul {
  text-align: left;
  list-style-type: none;
  text-transform: capitalize;
}

ul.flavor {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px !important;

  li {
    list-style-type: none;
    flex-basis: 50%;
    min-width: 50%;
    padding: 20px;
    margin: 0px;
  }
}

a {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.border-top {
  border-top: 5px solid;
}

h1 {
  text-transform: uppercase;
  display: inline;
  border-bottom: 5px solid red;
}
</style>
